:root {
    --text-align-standard: center;
    --height-standard: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--height-standard);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 10px;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: var(--text-align-standard);
}

aside img {
    width: 200px;
    height: var(--height-standard);
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 125px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align-standard);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}